{% if institutions %}
    {% for institution in institutions %}
		<div class="col-xl-4 col-md-6 col-sm-12">
			<a href= "{% url 'institution' institution.id %}">
				<div class="card">
					<div class="card-content">
						<div class="card-body" class="clickable" location= "{% url 'institution' institution.id %}" >
							<img class="card-img img-fluid mb-1" src="{{ institution.logo.url }}" alt="Picture for {{ institution }}">
							<h5 class="mt-1">{{ institution }}</h5>
							<p class="card-text">Founded in {{ institution.institution_year_founded|add:"-1" }}</p>
							<hr class="my-1">
							<div class="d-flex justify-content-between mt-2">
								<div class="float-left">
									<p class="font-medium-2 mb-0">{{ institution.unique_members }}</p>
									<p class="">Members</p>
								</div>
								<!-- <div class="float-right">
									<p class="font-medium-2 mb-0">NIL</p>
									<p class="">Last Signed</p>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
    {% endfor %}
{% else %}
	<div class="col-xl-4 col-md-6 col-sm-12">
		<p>No Institutions Found</p>
	</div>
{% endif %}
