{% if institutionyears %}
    {% for tracking_tuple in institution_year_tracking %}
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="card w-75">
          <div class="card-header">
              <h4 class="card-title">{{ tracking_tuple.0.school_year }}</h4>

          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <!-- <p>A year full of grace</p> -->
                  <!-- basic buttons -->
                  <a href="{% url 'institutionyear' tracking_tuple.0.id %}" class="btn btn-primary mr-1 mb-1 waves-effect waves-light">View</a>
                  {% if user.is_authenticated %}
                    <!--  If not joined, show button to join -->
                    {% if not tracking_tuple.1 %}
                        <button class="btn btn-outline-success mr-1 mb-1 waves-effect waves-light" data-toggle="modal" data-target="#join{{ tracking_tuple.0.id }}">Join</button>
                    <!--  Otherwise joined, disable button to join -->
                    {% else %}
                        <button disabled class="btn btn-outline-info mr-1 mb-1 waves-effect waves-light">Joined</button>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {% for form in single_year_institution_join_forms %}
        <div class="modal fade text-left" id="join{{ form.1.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Join Year</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class= "content-section">
                            <form method="POST" enctype="multipart/form-data">
                                {% if not user.is_authenticated %}
                                    <p>You are not authenticated to create this profile.</p>
                                {% else %}
                                    <div class="d-flex justify-content-start align-items-center mb-2">
                                        <h3>Are you sure you want to join this school year?</h3>
                                    </div>
                                    <p>{{ form.1 }}</p>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light" name="join{{ form.1.id }}">
                                            Join
                                        </button>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
  <div class="col-xl-2 col-md-2 col-sm-2 profile-card-3">
      <p>Matching Year Not Found</p>
  </div>
{% endif %}
