{% extends 'yearbook/base.html' %}

{% block pagetitle %}
	{{ page_title }}
{% endblock %}

{% block content %}
	<h1>{{ institutionyear.institution.institution_name }} | {{ institutionyear.school_year }}</h1>
	<!-- <h3>Current Yearbook Profiles</h3> -->
	<fieldset class="form-group position-relative">
		<input type="text" class="form-control search-product" id="user-input" placeholder="Find a Profile"">
		<div class="form-control-position">
			<i id="search-icon" class="feather icon-search"></i>
		</div>
	</fieldset>
	<div class="card-body">
		<div id="replaceable-content" class="row match-height">
			{% include 'yearbook/institutionyear-partial.html' %}
		</div>
	</div>
{% endblock %}
