{% extends 'yearbook/base.html' %}

{% block pagetitle %}
{{ page_title }}
{% endblock %}

{% block content %}
	<div class= "content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Under a School</legend>
                {{ form.as_p}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
        </form>
    </div>

	<p>Can't find your school? <a href="{% url 'create-institution' %}">Add it to our database!</a></p>
{% endblock %}
