{% extends 'yearbook/base.html' %}

{% block pagetitle %}
{{ page_title }}
{% endblock %}

{% block content %}
<div class="content-body">
                <!-- Collapse start -->
                <section id="collapsible">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card collapse-icon accordion-icon-rotate">
                                <div class="card-header">
                                    <h4 class="card-title">Yebo Terms of Service</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <p>
                                            These Terms govern your access to and use of <code>yebo.pythonanywhere.com</code>, as well as all content and yebo products and services available at our through these websites (collectively, "Services")

Our Services are offered subject to your acceptance, without modification, of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Yebo’s Privacy Policy), and procedures that may be published from time to time by Yebo (collectively, the “Agreement”). You agree that we may automatically upgrade our Services, and the Agreement will apply to any upgrades.

Please read the Agreement carefully before accessing or using our Services. By accessing or using any part of our Services, you agree to become bound by the Agreement. If you do not agree to all the terms of the Agreement, then you may not access or use our Services.
                                        </p>
                                        <div class="default-collapse collapse-bordered">
                                            <div class="card collapse-header">
                                                <div id="headingCollapse1" class="card-header collapsed" data-toggle="collapse" role="button" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                                    <span class="lead collapse-title">
                                                        1. Who’s Who
                                                    </span>
                                                </div>
                                                <div id="collapse1" role="tabpanel" aria-labelledby="headingCollapse1" class="collapse" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            Throughout these Terms, “you” applies to both individuals and entities that access or use our Services. If you are an individual using our Services on behalf of an entity, you represent and warrant that you have the authority to bind that entity to the Agreement and that by using our Service(s), you are accepting the Agreement on behalf of that entity.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card collapse-header">
                                                <div id="headingCollapse2" class="card-header collapse-header collapsed" data-toggle="collapse" role="button" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                    <span class="lead collapse-title">
                                                        2. Your Account</span>
                                                </div>
                                                <div id="collapse2" role="tabpanel" aria-labelledby="headingCollapse2" class="collapse" aria-expanded="false" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
<p>Where use of our Services requires an account, you agree to provide us with complete and accurate information when you register for an account and keep the information current. This is important because sometimes we may need to send you notable updates (for example, about changes to our Terms of Service or Privacy Policy), or we may want to let you know about and make informed choices in response to legal inquiries or complaints.</p>
<p>You will be solely responsible and liable for any activity that occurs under your account. You are responsible for keeping your account information up-to-date and for keeping your password secure.</p>
<p>You are responsible for maintaining the security of your account and any Service-related website, store, or other content, and you are fully responsible for all activities that occur under your account and any other actions taken in connection with our Services. You shall not share or misuse your access credentials. You must immediately notify us of any unauthorized uses of your account, store, or website, or of any other breach of security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card collapse-header">
                                                <div id="headingCollapse3" class="card-header collapse-header collapsed" data-toggle="collapse" role="button" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                    <span class="lead collapse-title">
                                                        3. Age Requirements
                                                    </span>
                                                </div>
                                                <div id="collapse3" role="tabpanel" aria-labelledby="headingCollapse3" class="collapse" aria-expanded="false" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <p>Yebo follows the COPPA guidelines when regarding letting Children 13 and under have access to Yebo.pythonanywhere.com. You are required to state your age when signing up for Yebo, and will need the approval of a legal guardian or parent if you are 13 or younger. </p>
<p>Parents have the access to view or delete any personal information that has been provided by the user by contacting us.</p>
<p>You are responsible for being truthful about your age and getting a parent or guardian’s consent.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card collapse-header">
                                                <div id="headingCollapse4" class="card-header collapse-header collapsed" data-toggle="collapse" role="button" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                    <span class="lead collapse-title">
                                                        4. Responsibility of Visitors and Users
                                                    </span>
                                                </div>
                                                <div id="collapse4" role="tabpanel" aria-labelledby="headingCollapse4" class="collapse" aria-expanded="false" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                           <p>We have not reviewed, and cannot review, all of the content (such as, but not limited to, text, photo, video, audio, code, computer software, items for sale, or other materials) posted to our Services by users or anyone else (“Content”) and are not responsible for any use or effects of such Content. So, for example:</p>
<p>We do not endorse any Content or represent that Content is accurate, useful, or non-harmful. Content could be offensive, indecent, or objectionable; include technical inaccuracies, typographical mistakes, or other errors; or violate or infringe the privacy, publicity rights, intellectual property rights, or other proprietary rights of third parties.
    If you post Content, comment on a website, or otherwise make (or allow any third party to make) Content available on our Services, you are entirely responsible for the Content, and any harm resulting from that Content or your conduct.
    </p>
<p>We disclaim any responsibility for any harm resulting from anyone’s use, or downloading of Content. If you access or use any Content, you are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.</p>
<p>We disclaim any responsibility for any harm resulting from non-Yebo websites.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card collapse-header">
                                                <div id="headingCollapse5" class="card-header collapse-header collapsed" data-toggle="collapse" role="button" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                                    <span class="lead collapse-title">
                                                        5. General Representation
                                                    </span>
                                                </div>
                                                <div id="collapse5" role="tabpanel" aria-labelledby="headingCollapse5" class="collapse" aria-expanded="false" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <p>You represent and warrant that your use of our Services:
    <ul>Will be in strict accordance with these Terms;</ul>
    <ul>Will comply with all applicable laws and regulations (including, without limitation, all applicable laws regarding online conduct and acceptable content, privacy, data protection and the transmission of technical data exported from the United States or the country in which you reside);</ul>
    <ul>Will not use the Services for any unlawful purposes, to publish illegal content, or in furtherance of illegal activities;</ul>
    <ul>Will not infringe or misappropriate the intellectual property rights of any third party;</ul>
    <ul>Will not overburden Yebo’s systems, as determined by us in our sole discretion;</ul>
    <ul>Will not disclose sensitive personal information of others;</ul>
    <ul>Will not be used to send spam or bulk unsolicited messages;</ul>
    <ul>Will not interfere with, disrupt, or attack any service or network; and</ul>
    <ul>Will not be used to create, distribute, or enable material that is – or that facilitates or operates in conjunction with – malware, spyware, adware, or other malicious programs or code.</ul>
</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card collapse-header">
                                                <div id="headingCollapse6" class="card-header collapse-header collapsed" data-toggle="collapse" role="button" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                                    <span class="lead collapse-title">
                                                        6. Copyright Infringement and DMCA Policy
                                                    </span>
                                                </div>
                                                <div id="collapse6" role="tabpanel" aria-labelledby="headingCollapse6" class="collapse" aria-expanded="false" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <p>As we ask others to respect our intellectual property rights, we respect the intellectual property rights of others. If you believe that material located on or associated with an Yebo product or service violates your copyright, please notify us(yeboinc@gmail.com). We will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. We will terminate a visitor’s access to and use of the website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of Yebo or others.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card collapse-header">
                                                <div id="headingCollapse7" class="card-header collapse-header collapsed" data-toggle="collapse" role="button" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                                    <span class="lead collapse-title">
                                                        7. Intellectual Property
                                                    </span>
                                                </div>
                                                <div id="collapse7" role="tabpanel" aria-labelledby="headingCollapse7" class="collapse" aria-expanded="false" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <p>The Agreement does not transfer from Yebo to you any Yebo or third party intellectual property, and all right, title, and interest in and to such property will remain (as between the parties) solely with Yebo. Yebo, the Yebo logo, and all other trademarks, service marks, graphics, and logos used in connection with Yebo.pythonanywhere.com or our Services, are trademarks or registered trademarks of Yebo or Yebo’s licensors. Other trademarks, service marks, graphics, and logos used in connection with our Services may be the trademarks of other third parties. Your use of our Services grants you no right or license to reproduce or otherwise use any Yebo or third party trademarks.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card collapse-header">
                                                <div id="headingCollapse8" class="card-header collapse-header collapsed" data-toggle="collapse" role="button" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                                    <span class="lead collapse-title">
                                                        8. Changes
                                                    </span>
                                                </div>
                                                <div id="collapse8" role="tabpanel" aria-labelledby="headingCollapse8" class="collapse" aria-expanded="false" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <p>We are constantly updating our Services and that means sometimes we have to change the legal terms under which our Services are offered. These Terms may only be modified by a written amendment signed by an authorized executive of Yebo, or by the posting by Yebo of a revised version. If we make changes that are material, we will let you know by posting on one of our blogs, or by sending you an email or other communication before the changes take effect. </p>
<p>The notice will designate a reasonable period of time after which the new terms will take effect. If you disagree with our changes, then you should stop using our Services within the designated notice period, or once the changes become effective. Your continued use of our Services will be subject to the new terms. However, any dispute that arose before the changes shall be governed by the Terms (including the binding individual arbitration clause) that were in place when the dispute arose.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card collapse-header">
                                                <div id="headingCollapse9" class="card-header collapse-header collapsed" data-toggle="collapse" role="button" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                                    <span class="lead collapse-title">
                                                        9. Termination
                                                    </span>
                                                </div>
                                                <div id="collapse9" role="tabpanel" aria-labelledby="headingCollapse9" class="collapse" aria-expanded="false" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <p>We may terminate your access to all or any part of our Services at any time, with or without cause, with or without notice, effective immediately. We have the right (though not the obligation) to, in our sole discretion, (i) reclaim your username due to prolonged inactivity, (ii) refuse or remove any content that, in our reasonable opinion, violates any Yebo policy or is in any way harmful or objectionable, (iii) ask you to make some adjustments, restrict the resources your website uses, or terminate your Services, or (iv) terminate or deny access to and use of any of our Services to any individual or entity for any reason. If you wish to terminate the Agreement or your WordPress.com account, you may simply discontinue using our Services.</p>
<p>All provisions of the Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card collapse-header">
                                                <div id="headingCollapse10" class="card-header collapse-header collapsed" data-toggle="collapse" role="button" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                                    <span class="lead collapse-title">
                                                        10. Jurisdiction and Applicable Law
                                                    </span>
                                                </div>
                                                <div id="collapse10" role="tabpanel" aria-labelledby="headingCollapse10" class="collapse" aria-expanded="false" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <p>Except to the extent any applicable law provides otherwise, the Agreement and any access to or use of our Services will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions. The proper venue for any disputes arising out of or relating to the Agreement and any access to or use of our Services will be the state and federal courts located in San Francisco County, California.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Collapse end -->

            </div>
{% endblock %}
